<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
      <img src="images/testimonial.jpg" alt="A Happy, Smiling Customer" />
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odit
        voluptatibus temporibus ducimus dolores quidem odio voluptates adipisci,
        deserunt voluptatem.
      </p>

      <footer>
        <div class="media">
          <div class="quote__image quote__line">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="quote__author">John Smith</h3>
            <p class="quote__discription">Mosh Company CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
